body {
	background: rgb(179,182,199)
}
h1 {
	color: #fff;
	font-family: 'Ubuntu 700', sans-serif;
	text-align: center;
	font-size: 3em;
}
h2 {
	color: #fff;
	font-family: 'Ubuntu 700', sans-serif;
	font-size: 1.5em;
	display: block;
	width: 40%;
	margin: 0 auto;
	text-align: justify;
	line-height: 1.7em;
}

img {
	width: 300px;
	display: block;
	margin: 0 auto;
	padding-bottom: 4em;
}